/* El body es literalmente, todo el cuerpo de la pagina, ahi es donde esta nuestra estructura html*/
body {
    /* font-family nos sirve para elegir el tipo de letra que tendrá nuestra pagina*/
    font-family: sans-serif;
    /* Este margin nos sirve para definir el espacio fuera del borde de un elemento, creando separación entre este y otros elementos */
    margin: 0;
}

/* El selector .contenedor nos ayuda a ponerle estilo de manera externa (osea, en un archivo css aparte) como queramos al contenedor que tenemos en el html */
.contenedor {
    /* el atributo display, nos ayuda a deinir la manera en que queramos que se comporte el contenedor y los elementos que contiene*/
    display: flex; 
    /*el wrap nos ayuda a cuadrar elementos de manera que, si la inetrfaz se encoje, los elementos se dividen en las filas que sean necesarias para no perder sus propiedades de tamaño */
    flex-wrap: wrap; 
    /* Justify-content este, como su nombre lo indica, nos ayuda a justificar el contenido dentro de un contenedor o caja  */
    justify-content: space-around; 
    /* este padding, define el espacio dentro del borde de un elemento, entre el contenido y el borde*/
    padding: 20px;
}

/* El selector .tarjeta nos ayuda a ponerle estilo de manera externa (osea, en un archivo css aparte) como queramos a ese div que tenemos en el html */
.tarjeta {
    /* Este width nos ayuda a definir el anchor */
    width: 300px; 
    /* Este margin nos sirve para definir el espacio fuera del borde de un elemento, creando separación entre este y otros elementos */
    margin: 10px; 
    /* este border nos sirve para definir el borde de este elemento */
    border: 1px solid #ccc; 
    /*este padding, define el espacio dentro del borde de un elemento, entre el contenido y el borde*/
    padding: 20px; 
    /* border-radius ya es otra cosa diferente al border, este es mas bien por si queremos redondear las esquinas del div, o si quremos un elemento totalmente circular */
    border-radius: 5px; 
    /*box-shadow funciona para ponerle sombra al elemento, el nivel de sombra y su color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

/* El selector .tarjeta img nos ayuda a ponerle estilo de manera externa a la imagen que tenemos en "tarjeta", ya que hay un espacio entre .tarjeta e img */
.tarjeta img {
    /* Este width nos ayuda a definir el anchor */
    width: 100%; 
    /*este señor height, a diferencia del width, es para definir la altura de un elemnto, NO el anchor */
    height: auto; 
    /* el atributo display, nos ayuda a deinir la manera en que queramos que se comporte el contenedor y los elementos que contiene, en este caso es "block" */
    display: block; 
    /* border-radius ya es otra cosa diferente al border, este es mas bien por si queremos redondear las esquinas del div, o si quremos un elemento totalmente circular*/
    border-radius: 5px 5px 0 0; 
}

/* El selector .tarjeta h3 nos ayuda a ponerle estilo de manera externa al texto que tenemos en "tarjeta", ya que hay un espacio entre .tarjeta y h3 */
.tarjeta h3 {
    /* La propiedad margin establece el margen para los cuatro lados de los elementos */
    margin-top: 10px; 
}

/* El selector .tarjeta p nos ayuda a ponerle estilo de manera externa al parrafo que tenemos en "tarjeta", ya que hay un espacio entre .tarjeta y p  */
.tarjeta p {
    /* este fond-size nos ayuda a definir el tamaño de la letra que estamos usando aca */
    font-size: 0.9em; 
    /*el atributo line-height nos ayuda a controlar la distancia verticalente entre los renglones de un parrafo */
    line-height: 1.5; 
}